{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT:3000} {
	root * /srv
	encode zstd gzip

  handle /health {
    respond "ok" 200
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
